@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 46 33% 95%;
    --foreground: 20 30% 22%;
    
    --muted: 32 30% 90%;
    --muted-foreground: 20 30% 40%;
    
    --card: 0 0% 100%;
    --card-foreground: 20 30% 22%;
    
    --border: 20 30% 87%;
    --input: 20 30% 87%;
    
    --primary: 25 58% 67%;
    --primary-foreground: 20 30% 22%;
    
    --secondary: 32 30% 90%;
    --secondary-foreground: 20 30% 22%;
    
    --accent: 25 58% 67%;
    --accent-foreground: 20 30% 22%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    
    --ring: 25 58% 67%;
  }

  .dark {
    --background: 240 10% 12%;
    --foreground: 43 67% 73%;
    
    --muted: 240 10% 20%;
    --muted-foreground: 43 40% 70%;
    
    --card: 240 10% 16%;
    --card-foreground: 43 67% 73%;
    
    --border: 240 10% 25%;
    --input: 240 10% 25%;
    
    --primary: 43 67% 53%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 240 10% 20%;
    --secondary-foreground: 43 67% 73%;
    
    --accent: 43 67% 53%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    
    --ring: 43 67% 53%;
  }
  
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground transition-colors duration-300;
  }
}